{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <div class="row">
    <!-- Content Column -->
    <div class="col-lg-12 mb-4">
      <!-- Illustrations -->
      <div class="card shadow mb-4">
        <div class="card-body">
          <p>
            FitApp pomoże Ci zadbać o zdrowe nawyki, które są niezwykle ważne. Aplikacja pozwoli zmaksymalizować Twoje wyniki i usystematyczni nawyki. Zadaniem FitApp jest pomoc użytkownikowi w utrzymaniu zdrowego trybu życia. Aplikacja codziennie poinformuje o dzeinnych celach do zaliczenia. FitApp umożliwia śledzenie swoich pomiarów ciała, ilości snu czy aktywności fizycznej w ciągu dnia. Skorzystaj z naszego kalkulatora BMI lub załóż darmowe konto i korzystaj z wielu funkcji, jakie umożliwia FitApp.
          </p>
          <p>🔥 Monitorowanie ilości snu</p>
          <p>🔥 Śledzenie pomiarów ciała</p>
          <p>🔥 Obliczanie oraz zapisywanie swojego BMI</p>
          <p>🔥 Monitorowanie nawodnienia</p>
          <p>🔥 Zapisywanie ilości aktywności fizycznej</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} 
{% block hidden_content %} 
{% endblock %}
