{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Heading -->
<div class="align-items-center mb-4">
  <h1 class="h3 mb-4 text-gray-800">Informacje o autorach</h1>
  <div>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid atque
      voluptate quisquam excepturi. Natus alias qui veniam, ducimus fugiat
      aliquam, dolor fugit accusamus sunt, nisi assumenda aspernatur voluptas
      numquam expedita ex delectus. Aperiam similique quae omnis ex numquam
      recusandae aspernatur incidunt harum! Quas nisi ipsum quia tempora
      possimus hic ratione?
    </p>
  </div>
</div>

{% endblock %}
{% block hidden_content %}
{% endblock %}
