{% extends 'base.html' %}

{% block content %}
<!-- Upload File Section Form-->
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        {% if messages %}
          <ul class="messages">
          {% for message in messages %}
            <p class=" ml-0 font-weight-bold {% if message.tags == 'error' %}text-danger {% elif message.tags == 'success' %}text-success {% endif %}">{{ message }} </p>
          {% endfor %}
          </ul>
        {% endif %}
        <h1>Aktywność {{ today }}</h1>
        <ul>
          {% for object in object_list %}
            <li>
                <a href="{% url 'activities:activities_detail' object.pk %}">
                  {% if object.duration_time == 1 %}
                  {{ object.get_type_display  }} - {{ object.duration_time }} minuta - {{ object.date|date:"d/m/y" }}
                  {% elif object.duration_time >= 2 and object.duration_time <= 4  %}
                  {{ object.get_type_display  }} - {{ object.duration_time }} minuty - {{ object.date|date:"d/m/y" }}
                  {% else %}
                  {{ object.get_type_display  }} - {{ object.duration_time }} minut - {{ object.date|date:"d/m/y" }}
                  {% endif %}
                  
                </a>
            </li>
          {% empty %}
            <li>Nie dodano jeszcze dzisiaj żadnej aktywnośći.</li>
          {% endfor %}
        </ul>
        
      </div>
    </div>
{% endblock %}